@import "../../scss/index.scss";

.palette-interactive {
  display: flex;
  flex-direction: row;
  background-color: var(--theme-color-light);

  //flex-direction: column-reverse;
  &__content {
    display: flex;
    flex-direction: row;
  }
  &__left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    .notes {
      display: flex;
      flex-direction: column;
      margin: 3%;
      #img-add {
        height: 70px;
        width: 80px;
        object-fit: fill;
      }
      span {
        font-family: "dyslexicRegular";
      }
    }
  }

  &__right {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;

    &__colors {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
    }
  }
}

.palette-interactive__right div:nth-child(1) {
  background-color: $theme-yellow;
}
.palette-interactive__right div:nth-child(2) {
  background-color: $theme-blue;
}
.palette-interactive__right div:nth-child(3) {
  background-color: $theme-red;
}
.palette-interactive__right div:nth-child(4) {
  background-color: $theme-purple;
}
.palette-interactive__right div:nth-child(5) {
  background-color: $theme-green;
}
.palette-interactive__right div:nth-child(6) {
  background-color: $theme-green;
}
.palette-interactive__right div:nth-child(7) {
  background-color: $theme-green;
}
.palette-interactive__right div:nth-child(8) {
  background-color: $theme-green;
}

#delete {
  font-size: 0.6em;
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
}

#delete:hover {
  color: rgb(255, 55, 55);
}

#new-item {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  position: absolute;
  cursor: move;
  color: black;
  background-color: white;
  max-width: 215px;
  overflow-wrap: break-word;
  border-radius: 5px;
  padding: 1em;
  margin: auto;
  user-select: none;
}

#input-card:not(.userListBox) {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  padding: 0px !important;
  font-family: "dyslexicItalic";
}
