@import "../../scss/index.scss";
.sidebar-menu {
}
.ui.menu.vertical.menu-left {
  display: flex;
  justify-content: space-between !important;
  border-radius: 0;
  background-color: var(--theme-color);
  height: 100%;
  width: 100%;
  //padding-top: 50px;

  .item,
  a.item {
    color: var(--theme-page-text);
    font-weight: bold;
    font-size: 16px;
    border-left: 4px solid transparent;
    width: auto;
    font-family: "dyslexicRegular";

    &:hover,
    &.active {
      color: var(--theme-page-text) !important;
      background-color: transparent !important;
      cursor: pointer;
    }

    &.active {
      border-color: var(--theme-page-text) !important;
    }
  }

  .header-menu {
    i {
      padding: 40px;
      color: var(--theme-page-text);
    }
  }

  .footer-menu {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding-bottom: 10%;
  }

  #image-sidebar {
    width: 150px;
    height: 270px;
    z-index: 100;
  }
}

@media only screen and (max-width: 600px) {
  .lyrics {
    display: none;
  }
  .ui.menu.vertical.menu-left {
    display: flex;
    justify-content: space-between !important;
    border-radius: 0;
    background-color: var(--theme-color);
    height: 100%;
    width: 100%;
    //padding-top: 50px;

    .item,
    a.item {
      color: var(--theme-page-text);
      font-weight: bold;
      font-size: 16px;
      border-left: 4px solid transparent;
      width: auto;
      font-family: "dyslexicRegular";
      padding-left: 25px;
      margin-bottom: 30%;
      margin-top: 30%;

      &:hover,
      &.active {
        color: var(--theme-page-text) !important;
        background-color: transparent !important;
        cursor: pointer;
      }

      &.active {
        border-color: var(--theme-page-text) !important;
      }
    }

    .header-menu {
      i {
        padding: 10px;
        color: var(--theme-page-text);
      }
    }

    .footer-menu {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      padding-bottom: 10%;
    }

    #image-sidebar {
      width: 110px;
      height: 200px;
    }
  }
}
