@import "../../scss/index.scss";

.thumbsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
}

.thumb {
  display: inline-flex;
  border-radius: 2;
  border: 1px solid #eaeaea;
  margin-bottom: 8px;
  margin-right: 8;
  width: 100;
  height: 100;
  padding: 4;
  box-sizing: border-box;
}

.thumbInner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.img-drop {
  object-fit: fill;
  width: 100%;
  height: 100%;
  padding-top: 8%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hide-img {
  display: none;
}

#show-img {
  display: inline;
}
