@import "../../scss/index.scss";

.home {
  text-align: center;
}

.home-top {
  background-color: var(--theme-color-light);
  h1 {
    color: var(--theme-color);
    font-size: 70px;
    font-family: "dyslexicBold";
  }
  h2 {
    color: var(--theme-color);
    font-size: 65px;
    font-family: "dyslexicBold";
  }
  span {
    color: $font-primary;
    font-family: "dyslexicBold";
  }
}

.subtitle {
  margin-top: 4%;
  h2 {
    color: var(--theme-color);
    font-size: 30px;
    font-family: "dyslexicBold";
    font-weight: bold;
  }
  p {
    color: $font-primary;
    font-size: 15px;
    font-family: "dyslexicRegular";
  }
}

.resume {
  margin-left: 25%;
  margin-right: 25%;
  p {
    font-family: "dyslexicRegular";
  }
}

.home-bottom {
  display: flex;
  padding: 50px;
  justify-content: center;
  text-align: center;
}

#plane-one {
  position: absolute;
  left: 0;
  top: 70px;
  object-fit: fill;
  min-width: 300px;
  min-height: 150px;
  width: 400px;
}

.btn-home {
  background-color: var(--theme-color) !important;
  color: var(--theme-page-text) !important;
  font-family: "dyslexicBold" !important;
  margin-bottom: 25px !important;
}
