@import "../../scss/index.scss";

.home {
  text-align: center;
}

.home-top {
  background-color: var(--theme-color-light);
  h1 {
    color: var(--theme-color);
    font-size: 70px;
    font-family: "dyslexicBold";
  }
  h2 {
    color: var(--theme-color);
    font-size: 65px;
    font-family: "dyslexicBold";
  }
  span {
    color: $font-primary;
    font-family: "dyslexicBold";
  }
}

.subtitle {
  margin-top: 4%;
  margin-bottom: 2%;
  h2 {
    color: var(--theme-color);
    font-size: 30px;
    font-family: "dyslexicBold";
    font-weight: bold;
  }
  p {
    color: $font-primary;
    font-size: 15px;
    font-family: "dyslexicRegular";
  }
}

.resume {
  margin-left: 25%;
  margin-right: 25%;
  p {
    font-family: "dyslexicRegular";
  }
}

.home-bottom {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  text-align: center;
}

#plane-one {
  position: absolute;
  left: 0;
  top: 70px;
  object-fit: fill;
  min-width: 300px;
  min-height: 150px;
  width: 400px;
}

.btn-home {
  background-color: var(--theme-color) !important;
  color: var(--theme-page-text) !important;
  font-family: "dyslexicBold" !important;
  margin-bottom: 25px !important;
}

.title-options {
  margin-left: -42%;
  font-size: 30px;
  font-family: "dyslexicBold";
  color: $font-primary;
}

@media only screen and (max-width: 600px) {
  #plane-one {
    display: none;
  }
  .home {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .title-options {
    margin-left: 20px;
    font-size: 20px;
    font-family: "dyslexicBold";
    color: $font-primary;
  }
  .home-bottom {
    display: flex;
    padding-left: 4px;
    padding-right: 4px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .home-top {
    background-color: var(--theme-color-light);
    h1 {
      color: var(--theme-color);
      font-size: 40px;
      font-family: "dyslexicBold";
    }
    h2 {
      color: var(--theme-color);
      font-size: 35px;
      font-family: "dyslexicBold";
    }
    span {
      color: $font-primary;
      font-family: "dyslexicBold";
    }
  }

  .resume {
    margin-left: 3%;
    margin-right: 3%;
    p {
      font-family: "dyslexicRegular";
    }
  }
}
