@import "../scss/colors";

.home-top {
  background-color: $background-secondary;
  h1 {
    color: $primary-color;
    font-size: 70px;
  }
  h2 {
    color: $primary-color;
    font-size: 65px;
  }
  span {
    color: $font-primary;
  }
}

.subtitle {
  h2 {
    color: $font-primary;
    font-size: 30px;
  }
  p {
    color: $font-primary;
    font-size: 15px;
  }
}

.resume {
  margin-left: 30%;
  margin-right: 30%;
}

.btn-home {
  background-color: $primary-color;
  border-radius: 25px;
  padding: 18px;
  width: auto;
  color: $font-primary;
  font-weight: bold;
}

.home-bottom {
  display: flex;
  padding: 50px;
  justify-content: center;
  text-align: center;
}

#plane-one {
  position: absolute;
  left: 0;
  top: 60px;
  object-fit: fill;
  min-width: 300px;
  min-height: 150px;
  width: 600px;
}

.plane-two {
  position: sticky;
  width: 120px;
  left: 30;
  top: 70;
}
.plane-three {
  position: sticky;
  right: 50;
  top: 40;
}
