@import "../../scss/index.scss";

.switch-theme {
  position: fixed;
  right: 0.3%;
  top: 2%;
  margin: 10px;
  border: 0px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
  width: 10%;
  text-align: center;
  background-color: #242526;

  h3 {
    font-family: "dyslexicBold";
    margin-bottom: 5px;
    color: $font-light;
  }
}
.content-switch-theme {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 2px;
}

.content-switch-theme div:nth-child(1) {
  background-color: $theme-yellow;
}
.content-switch-theme div:nth-child(2) {
  background-color: $theme-blue;
}
.content-switch-theme div:nth-child(3) {
  background-color: $theme-red;
}
.content-switch-theme div:nth-child(4) {
  background-color: $theme-purple;
}
.content-switch-theme div:nth-child(5) {
  background-color: $theme-green;
}

.color-circle {
  /*content: " \25CF";
  font-size: 40px;*/
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
}
