@import "../../scss/index.scss";

.content-audio {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.audio-lesson {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  border: 0px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
  width: 600px;
  height: 150px;
  text-align: center;
  background-color: rgb(249, 162, 144);
}

.img-audio-fix {
  //object-fit: fill;

  width: 200px !important;
  height: 100px !important;
  //margin-left: 220px;
  background-repeat: no-repeat;
  //background-size: cover;
  //background-position: center;
  outline: none;
  position: relative;
}

.player-lesson-audio {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: -160px;
}

.play-audio-div {
  position: relative;
}

.play-audio {
  color: $font-light !important;
  font-size: 30px !important;
  justify-content: center;
  text-align: center;
  /*position: absolute;
  left: 350px;
  top: 90px;*/
}
.pause-audio {
  color: $font-light !important;
  font-size: 30px !important;
  justify-content: center;
  text-align: center;
  /*position: absolute;
  left: 350px;
  top: 90px;*/
}

@media only screen and (max-width: 600px) {
  .img-audio-fix {
    //object-fit: fill;

    width: 120px !important;
    height: 60px !important;
    //margin-left: 220px;
    background-repeat: no-repeat;
    //background-size: cover;
    //background-position: center;
    outline: none;
    position: relative;
  }

  .audio-lesson {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: 0px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    width: 400px;
    height: 100px;
    text-align: center;
    background-color: rgb(249, 162, 144);
  }
}
