@import "./scss/index.scss";

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Buttons Global */

.ui.button {
  width: auto !important;
  margin-top: 20px !important;
  background-color: $primary-color !important;
  color: $font-primary !important;
  font-weight: bold !important;
  font-size: 16px !important;
  border-radius: 50px !important;

  &:hover {
    background-color: $primary-color-hover !important;
  }
}
