$primary-color: #ffc53d;
$primary-color-hover: #e6c26f;

$font-light: #ffffff;
$font-primary: #1c2f59;
$font-black: #000000;

$background-secondary: #fffaee;
$background-input: #ffffff;

//Themes application
$theme-blue: #39aee7;
$theme-yellow: #ffc53d;
$theme-red: #ee4660;
$theme-purple: #785ebf;
$theme-green: #51bd69;
