@font-face {
  font-family: "dyslexicBold";
  src: url("../assets/fonts/open-dyslexic/OpenDyslexic-Bold.otf")
    format("opentype");
}

@font-face {
  font-family: "dyslexicRegular";
  src: url("../assets/fonts/open-dyslexic/OpenDyslexic-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "dyslexicItalic";
  src: url("../assets/fonts/open-dyslexic/OpenDyslexic-Italic.otf")
    format("opentype");
}
